<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

            width: 40%;
        }
        .card-container {
            padding: 2px 16px;
        }
        .card img {
            width: 40px;
            height: 40px;
        }
        .card-title {
            font-weight: normal;
            font-size: medium;
        }
        .card-description{
            font-weight: normal;
            font-size: small;
        }

    </style>
</head>
<body>
    <div class="card">
        <img src="C:\Users\ALYSSA\Documents\College\Semester3\PBP\yestore\static\image\noneproduct.png">
        <div class="card-container">
            <h1 class="card-title">Ini judul cardnya</h1>
            <p class="card-description">Ini deskripsinya</p>
        </div>
    </div>
</body>
</html>