{% extends 'base.html' %}
{% block content %}
<h1>Welcome to YESTORE!</h1>

<h2>Nama Mahasiswa: </h2>
<p>{{ nama }}</p>
<h2>Kelas: </h2>
<p>{{ kelas }}</p>
<h2>NPM: </h2>
<p>{{ npm }}</p>

{% if not products %}
<p>Belum ada data product pada YESTORE.</p>
{% else %}
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Description</th>
    <th>Category</th>
  </tr>

  {% comment %} 
  {% endcomment %} 
  {% for product in products %}
  <tr>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
  <button>Add New Product</button>
</a>


<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>

<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}